* {
  margin: 0;
  padding: 0;
}

/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
:root {
  --f-fam: "Montserrat", sans-serif;
  --p-color: #d6bbbb;
  --s-color: #e9c7c7;
  --success: rgb(66, 252, 66);
}

/* Who want the transition??? */
.main-box,
h2,
p {
  transition: 0.5s ease-in-out;
}

h2 {
  color: white;
  font-family: var(--f-fam);
  letter-spacing: 0.3rem;
}

.pointer {
  cursor: pointer;
  color: white;
}

p {
  font-family: var(--f-fam);
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  color: white;
}
p:active {
  color: orange;
}

.main-box {
  background: rgb(12, 49, 63);
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  min-height: 100vh;
}

#title {
  text-align: center;
}

.projects {
  margin-top: 3em;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  padding: 10px;
  column-gap: 2em;
  row-gap: 2em;
}

#dark-mode-toggle {
  position: fixed;
  right: 30px;
  top: 28px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* transparent with keyword */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* transparent with rgba */
  -webkit-tap-highlight-color: hsla(0, 0, 0, 0); /* transparent with hsla */
  -webkit-tap-highlight-color: #00000000; /* transparent with hex with alpha */
  -webkit-tap-highlight-color: #0000;
}

@media only screen and (max-width: 425px) {
  body {
    background-color: lightblue;
  }
  .projects {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #dark-mode-toggle {
    right: 10px;
  }
}

@media (hover: hover) {
  .project-box:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 30px rgb(1, 22, 32), -5px -5px 20px rgb(25, 136, 180);
    z-index: 2;
  }
  .light-mode .project-box:hover {
    box-shadow: 10px 10px 30px rgb(63, 62, 62),
      -10px -10px 20px rgb(196, 196, 196);
  }
}

/* Dark Mode Functionality */
/* .dark-mode {
  background-color: rgb(12, 49, 63);
} */
.light-mode .main-box {
  background-color: rgb(138, 136, 136);
}
.light-mode h2,
.light-mode p {
  color: rgb(128, 238, 229);
}
.light-mode .project-box {
  background: rgb(245, 111, 111);
}

@media only screen and (max-width: 270px) {
  .projects {
    grid-template-columns: 190px;
  }
}

/* Just checking if it's changed on github after git push */
